In [1]:
import pandas as pd

In [2]:
raw_csv_data = pd.read_csv("C:/Users/Administrator/Downloads/Absenteeism_data.csv")

In [3]:
raw_csv_data

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [4]:
df = raw_csv_data.copy()

In [5]:
df

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

In [7]:
df.drop(['ID'], axis = 1)

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [8]:
df = df.drop(['ID'], axis = 1)

In [9]:
df['Reason for Absence'].min()

0

In [10]:
df['Reason for Absence'].max()

28

In [11]:
pd.unique(df['Reason for Absence'])

##missing number is 20. Which means throughout the recording of the dataset, no one was absent from work due to reason 20.

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16])

In [12]:
##Assign dummies to 'Reason for absence' columns


reason_columns = pd.get_dummies(df['Reason for Absence']).astype(int)

In [13]:
reason_columns

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [14]:
reason_columns['check'] = reason_columns.sum(axis=1)

In [15]:
reason_columns

,0,1,2,3,4,5,6,7,8,9,...,19,21,22,23,24,25,26,27,28,check
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
696,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [16]:
reason_columns['check'].sum(axis=0)

np.int64(700)

In [17]:
reason_columns['check'].unique()

array([1])

In [18]:
reason_columns = reason_columns.drop(['check'], axis = 1)

In [19]:
reason_columns

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [20]:
##Dropping reason 0 to avoid multicoliniearity

reason_columns = pd.get_dummies(df['Reason for Absence'].astype(int), drop_first = True, dtype=int)

In [21]:
reason_columns

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [22]:
df['Reason for Absence'].head()

0    26
1     0
2    23
3     7
4    23
Name: Reason for Absence, dtype: int64

In [23]:
##Group 'reason for absence' according to similar characteristics

df.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours'], dtype=object)

In [24]:
reason_columns.columns.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 21, 22, 23, 24, 25, 26, 27, 28])

In [25]:
##Dropping the older 'Reason for absence'
df = df.drop(['Reason for Absence'], axis = 1)

In [26]:
df

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...
695,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [27]:
reason_type_1 = reason_columns.loc[:, 1:14].max(axis=1)
reason_type_2 = reason_columns.loc[:, 15:17].max(axis=1)
reason_type_3 = reason_columns.loc[:, 18:21].max(axis=1)
reason_type_4 = reason_columns.loc[:, 22:].max(axis=1)

In [28]:
reason_type_3

0      0
1      0
2      0
3      0
4      0
      ..
695    0
696    0
697    0
698    0
699    0
Length: 700, dtype: int64

In [29]:
##Concatenate the new 'Reason for Absence' variables into the existing dataframe

df = pd.concat([df, reason_type_1, reason_type_2, reason_type_3, reason_type_4], axis = 1)
df

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,23/05/2018,179,22,40,237.656,22,2,2,0,8,1,0,0,0
696,23/05/2018,225,26,28,237.656,24,1,1,2,3,1,0,0,0
697,24/05/2018,330,16,28,237.656,25,2,0,0,8,1,0,0,0
698,24/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1
699,31/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1

In [30]:
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [31]:
column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_type_1', 'Reason_type_2', 'Reason_type_3', 'Reason_type_4']

In [32]:
df.columns = column_names

In [33]:
df

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,23/05/2018,179,22,40,237.656,22,2,2,0,8,1,0,0,0
696,23/05/2018,225,26,28,237.656,24,1,1,2,3,1,0,0,0
697,24/05/2018,330,16,28,237.656,25,2,0,0,8,1,0,0,0
698,24/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1
699,31/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1

In [34]:
##Reorder columns

column_names_reordered = ['Reason_type_1', 'Reason_type_2', 'Reason_type_3', 'Reason_type_4', 'Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [35]:
df = df[column_names_reordered]

In [36]:
df.head()

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [37]:
##Create checkpoint

df_reason_mod = df.copy()

In [38]:
##Converting date to timestamp format

df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = '%d/%m/%Y')

In [39]:
df_reason_mod

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,2018-05-23,179,22,40,237.656,22,2,2,0,8
696,1,0,0,0,2018-05-23,225,26,28,237.656,24,1,1,2,3
697,1,0,0,0,2018-05-24,330,16,28,237.656,25,2,0,0,8
698,0,0,0,1,2018-05-24,235,16,32,237.656,25,3,0,0,2
699,0,0,0,1,2018-05-31,291,31,40,237.656,25,1,1,1,2

In [40]:
type(df_reason_mod['Date'])

pandas.core.series.Series

In [41]:
##Extracting months from date column

df_reason_mod['Date'][0].month

7

In [42]:
list_months = []
list_months

[]

In [43]:
df_reason_mod.shape

(700, 14)

In [44]:
for i in range(df_reason_mod.shape[0]):
    list_months.append(df_reason_mod['Date'][i].month)

In [45]:
list_months

[7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5]

In [46]:
df_reason_mod['Month'] = list_months
df_reason_mod.head()

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7

In [47]:
##Extract day of the week

def date_to_weekday(date_value):
    return date_value.weekday()

In [48]:
df_reason_mod['Day of the week'] = df_reason_mod['Date'].apply(date_to_weekday)

In [49]:
df_reason_mod.head()

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month,Day of the week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3

In [50]:
df_reason_mod = df_reason_mod.drop(['Date'], axis = 1)

In [51]:
df_reason_mod

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month,Day of the week
0,0,0,0,1,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,289,36,33,239.554,30,1,2,1,2,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,179,22,40,237.656,22,2,2,0,8,5,2
696,1,0,0,0,225,26,28,237.656,24,1,1,2,3,5,2
697,1,0,0,0,330,16,28,237.656,25,2,0,0,8,5,3
698,0,0,0,1,235,16,32,237.656,25,3,0,0,2,5,3
699,0,0,0,1,291,31,40,237.656,25,1,1,1,2,5,3

In [52]:
df_reason_date_mod = df_reason_mod.copy()
df_reason_date_mod

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month,Day of the week
0,0,0,0,1,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,289,36,33,239.554,30,1,2,1,2,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,179,22,40,237.656,22,2,2,0,8,5,2
696,1,0,0,0,225,26,28,237.656,24,1,1,2,3,5,2
697,1,0,0,0,330,16,28,237.656,25,2,0,0,8,5,3
698,0,0,0,1,235,16,32,237.656,25,3,0,0,2,5,3
699,0,0,0,1,291,31,40,237.656,25,1,1,1,2,5,3

In [53]:
type(df_reason_date_mod['Transportation Expense'][0])

numpy.int64

In [54]:
type(df_reason_date_mod['Distance to Work'][0])

numpy.int64

In [55]:
type(df_reason_date_mod['Age'][0])

numpy.int64

In [56]:
type(df_reason_date_mod['Daily Work Load Average'][0])

numpy.float64

In [57]:
type(df_reason_date_mod['Body Mass Index'][0])

numpy.int64

In [58]:
##Transform Education into a dummy variable 
##Education is grouped into: 1(high school degree), 2(graduate degree), 3(postgraduate degree), 4(a master or doctor)

df_reason_date_mod['Education'].unique()

array([1, 3, 2, 4])

In [59]:
df_reason_date_mod['Education'].value_counts()

Education
1    583
3     73
2     40
4      4
Name: count, dtype: int64

In [60]:
##Grouping education into two categories; undergraduate(high school), graduate(the rest)

df_reason_date_mod['Education'] = df_reason_date_mod['Education'].map({1:0, 2:1, 3:1, 4:1})

In [61]:
df_reason_date_mod['Education'].unique()

array([0, 1])

In [62]:
df_preprocessed = df_reason_date_mod.copy()
df_preprocessed

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month,Day of the week
0,0,0,0,1,289,36,33,239.554,30,0,2,1,4,7,1
1,0,0,0,0,118,13,50,239.554,31,0,1,0,0,7,1
2,0,0,0,1,179,51,38,239.554,31,0,0,0,2,7,2
3,1,0,0,0,279,5,39,239.554,24,0,2,0,4,7,3
4,0,0,0,1,289,36,33,239.554,30,0,2,1,2,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,179,22,40,237.656,22,1,2,0,8,5,2
696,1,0,0,0,225,26,28,237.656,24,0,1,2,3,5,2
697,1,0,0,0,330,16,28,237.656,25,1,0,0,8,5,3
698,0,0,0,1,235,16,32,237.656,25,1,0,0,2,5,3
699,0,0,0,1,291,31,40,237.656,25,0,1,1,2,5,3

In [63]:
df_preprocessed.to_csv("C:/Users/Administrator/Downloads/Absenteeism_preprocessed.csv", index=False)

In [64]:
##Creating a logistic regression to predict absenteeism 

import numpy as np

In [65]:
data_preprocessed = pd.read_csv("C:/Users/Administrator/Downloads/Absenteeism_preprocessed.csv")
data_preprocessed.head()

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month,Day of the week
0,0,0,0,1,289,36,33,239.554,30,0,2,1,4,7,1
1,0,0,0,0,118,13,50,239.554,31,0,1,0,0,7,1
2,0,0,0,1,179,51,38,239.554,31,0,0,0,2,7,2
3,1,0,0,0,279,5,39,239.554,24,0,2,0,4,7,3
4,0,0,0,1,289,36,33,239.554,30,0,2,1,2,7,3

In [66]:
##Create the targets

data_preprocessed['Absenteeism Time in Hours'].skew()

np.float64(5.787708563522282)

In [67]:
##Using median to get baseline for absenteeism time in hours and then dividing into two groups whicj would become the targets

data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [68]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > 3, 1, 0)
##code means if absenteeism time in hours is >3, map as 1, if not, 0(do not forget)

targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [69]:
data_preprocessed['Excessive Absenteeism'] = targets

In [70]:
data_preprocessed.head()

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month,Day of the week,Excessive Absenteeism
0,0,0,0,1,289,36,33,239.554,30,0,2,1,4,7,1,1
1,0,0,0,0,118,13,50,239.554,31,0,1,0,0,7,1,0
2,0,0,0,1,179,51,38,239.554,31,0,0,0,2,7,2,0
3,1,0,0,0,279,5,39,239.554,24,0,2,0,4,7,3,1
4,0,0,0,1,289,36,33,239.554,30,0,2,1,2,7,3,0

In [71]:
targets.sum() / targets.shape[0]

np.float64(0.45571428571428574)

In [72]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours', 'Day of the week', 'Daily Work Load Average', 'Distance to Work'], axis = 1)

In [73]:
##Selecting Inputs for the logistic regression

data_with_targets.iloc[:, 0:11]

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Month
0,0,0,0,1,289,33,30,0,2,1,7
1,0,0,0,0,118,50,31,0,1,0,7
2,0,0,0,1,179,38,31,0,0,0,7
3,1,0,0,0,279,39,24,0,2,0,7
4,0,0,0,1,289,33,30,0,2,1,7
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,179,40,22,1,2,0,5
696,1,0,0,0,225,28,24,0,1,2,5
697,1,0,0,0,330,28,25,1,0,0,5
698,0,0,0,1,235,32,25,1,0,0,5
699,0,0,0,1,291,40,25,0,1,1,5

In [74]:
unscaled_inputs = data_with_targets.iloc[:, 0:11]

In [75]:
##Standardize the data

from sklearn.preprocessing import StandardScaler

absenteeism_scaler = StandardScaler()

In [76]:
##absenteeism_scaler.fit(unscaled_inputs)

In [77]:
##scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [78]:
##scaled_inputs.shape

In [79]:
##Split data into train & test 

##from sklearn.model_selection import train_test_split

In [80]:
##train_test_split(scaled_inputs, targets)

In [81]:
##x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size = 0.8, random_state = 20)

In [82]:
##print (x_train.shape, y_train.shape)

In [83]:
##print (x_test.shape, y_test.shape)

In [84]:
##Logistic Regression with sklearn

##from sklearn.linear_model import LogisticRegression
##from sklearn import metrics

In [85]:
##Training the model

##reg = LogisticRegression()

In [86]:
##reg.fit(x_train, y_train)

In [87]:
##reg.score(x_train, y_train)

In [88]:
##Finding Intercept and Coefficients

##reg.intercept_

In [89]:
##reg.coef_

In [90]:
##unscaled_inputs.columns.values

In [91]:
##feature_name = unscaled_inputs.columns.values

In [92]:
##Creating a summary table

##summary_table = pd.DataFrame(columns=['Feature name'], data = feature_name)
##summary_table['Coefficient'] = np.transpose(reg.coef_)
##summary_table

In [93]:
##summary_table.index = summary_table.index + 1
##summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
##summary_table = summary_table.sort_index()
##summary_table

In [94]:
##Interpreting Coefficients

##summary_table['Odds Ratio'] = np.exp(summary_table.Coefficient)
##summary_table

In [95]:
##summary_table.sort_values('Odds Ratio', ascending=False)

In [96]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler
import pandas as pd

class CustomScaler(BaseEstimator, TransformerMixin):
    def __init__(self, columns=None):
        self.columns = columns  # store columns to scale
        self.scaler = StandardScaler()
    
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns])
        return self
    
    def transform(self, X):
        X_scaled = X.copy()
        X_scaled[self.columns] = self.scaler.transform(X[self.columns])
        return X_scaled

In [97]:
unscaled_inputs.columns.values

array(['Reason_type_1', 'Reason_type_2', 'Reason_type_3', 'Reason_type_4',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Month'], dtype=object)

In [98]:
##columns_to_scale = ['Transportation Expense', 'Distance to Work', 'Age',
       ##'Daily Work Load Average', 'Body Mass Index', 'Education',
       ##'Children', 'Pets', 'Month', 'Day of the week']
columns_to_omit = ['Reason_type_1', 'Reason_type_2', 'Reason_type_3', 'Reason_type_4', 'Education']

In [99]:
columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [100]:
absenteeism_scaler = CustomScaler(columns_to_scale)

In [101]:
absenteeism_scaler.fit(unscaled_inputs)

CustomScaler(columns=['Transportation Expense', 'Age', 'Body Mass Index',
                      'Children', 'Pets', 'Month'])

In [102]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [103]:
scaled_inputs

,Reason_type_1,Reason_type_2,Reason_type_3,Reason_type_4,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Month
0,0,0,0,1,1.005844,-0.536062,0.767431,0,0.880469,0.268487,0.182726
1,0,0,0,0,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690,0.182726
2,0,0,0,1,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690,0.182726
3,1,0,0,0,0.854936,0.405184,-0.643782,0,0.880469,-0.589690,0.182726
4,0,0,0,1,1.005844,-0.536062,0.767431,0,0.880469,0.268487,0.182726
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690,-0.388293
696,1,0,0,0,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663,-0.388293
697,1,0,0,0,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690,-0.388293
698,0,0,0,1,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690,-0.388293
699,0,0,0,1,1.036026,0.562059,-0.408580,0,-0.019280,0.268487,-0.388293

In [104]:
##Split data into train & test 

from sklearn.model_selection import train_test_split

In [105]:
train_test_split(scaled_inputs, targets)

[     Reason_type_1  Reason_type_2  Reason_type_3  Reason_type_4  \
 320              0              0              0              1
 401              0              0              1              0
 334              1              0              0              0
 602              0              0              0              1
 205              0              0              0              1
 ..             ...            ...            ...            ...
 519              0              0              0              1
 474              0              0              0              1
 183              0              0              0              1
 222              1              0              0              0
 130              0              0              1              0

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 320                0.568211 -0.065439        -0.878984          0  2.679969
 401                0.190942  0.091435         0.532229          1 -0.019280
 334                0.568211 -0.065439        -0.878984          0  2.679969
 602               -0.654143  0.248310         1.002633          0 -0.919030
 205               -1.016322 -0.379188        -0.408580          0  0.880469
 ..                      ...       ...              ...        ...       ...
 519                2.213108 -0.849811        -0.408580          0  1.780219
 474                2.092381 -1.320435         0.061825          0 -0.019280
 183                0.040034 -1.320435        -0.643782          0 -0.019280
 222                0.356940  0.718933        -0.878984          0 -0.919030
 130                1.005844 -0.536062         0.767431          0  0.880469

          Pets     Month
 320 -0.589690  1.324766
 401  0.268487 -0.959313
 334 -0.589690  1.324766
 602 -0.589690 -1.244823
 205 -0.589690 -0.388293
 ..        ...       ...
 519 -0.589690  1.039256
 474  2.843016  0.182726
 183  1.126663 -0.959313
 222 -0.589690 -0.102784
 130  0.268487 -1.530333

 [525 rows x 11 columns],
      Reason_type_1  Reason_type_2  Reason_type_3  Reason_type_4  \
 384              1              0              0              0
 598              0              0              0              1
 197              0              0              1              0
 80               0              0              0              1
 163              1              0              0              0
 ..             ...            ...            ...            ...
 588              0              0              0              1
 262              0              0              0              1
 26               0              0              0              1
 356              0              0              0              1
 354              0              0              0              1

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 384               -0.986140 -1.163560        -1.114186          0 -0.919030
 598               -0.654143  0.248310         1.002633          0 -0.919030
 197                0.568211 -0.065439        -0.878984          0  2.679969
 80                -0.654143  0.248310         1.002633          0 -0.919030
 163                0.568211 -0.065439        -0.878984          0  2.679969
 ..                      ...       ...              ...        ...       ...
 588               -0.654143  0.248310         1.002633          0 -0.919030
 262               -0.654143 -1.006686        -1.819793          1 -0.919030
 26                 1.005844 -0.536062         0.767431          0  0.880469
 356               -0.654143  0.248310         1.002633          0 -0.919030
 354                0.568211 -0.065439        -0.878984          0  2.679969

          Pets     Month
 384 -0.589690 -1.244823
 598 -0.589690 -1.244823
 197 -0.589690 -0.673803
 80  -0.589690  1.324766
 163 -0.589690 -0.959313
 ..        ...       ...
 588 -0.589690 -1.244823
 262 -0.589690  0.468236
 26   0.268487  0.468236
 356 -0.589690  1.610276
 354 -0.589690  1.610276

 [175 rows x 11 columns],
 array([0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
        1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0,
        0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
        0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1,
        0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1,
        1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0,
        0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0,
        1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0,
        1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
        0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
        1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1,
        1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
        0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0,
        0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
        0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1,
        0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
        0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
        1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0,
        1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1,
        0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0,
        1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1]),
 array([1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1,
        1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
        1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
        1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
        1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1])]

In [106]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size = 0.8, random_state = 20)

In [107]:
print (x_train.shape, y_train.shape)

(560, 11) (560,)

In [108]:
print (x_test.shape, y_test.shape)

(140, 11) (140,)

In [109]:
##Logistic Regression with sklearn

from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [110]:
##Training the model

reg = LogisticRegression()

In [111]:
reg.fit(x_train, y_train)

LogisticRegression()

In [112]:
reg.score(x_train, y_train)

0.7732142857142857

In [113]:
##Finding Intercept and Coefficients

reg.intercept_

array([-1.6469898])

In [114]:
##Finding Intercept and Coefficients

reg.coef_

array([[ 2.80000644,  0.95174778,  3.1140605 ,  0.83835931,  0.60513709,
        -0.16990589,  0.27998236, -0.21017416,  0.34842434, -0.27721907,
         0.15897713]])

In [115]:
unscaled_inputs.columns.values

array(['Reason_type_1', 'Reason_type_2', 'Reason_type_3', 'Reason_type_4',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Month'], dtype=object)

In [116]:
feature_name = unscaled_inputs.columns.values

In [117]:
##Creating a summary table

summary_table = pd.DataFrame(columns=['Feature name'], data = feature_name)
summary_table['Coefficient'] = np.transpose(reg.coef_)
summary_table

              Feature name  Coefficient
0            Reason_type_1     2.800006
1            Reason_type_2     0.951748
2            Reason_type_3     3.114061
3            Reason_type_4     0.838359
4   Transportation Expense     0.605137
5                      Age    -0.169906
6          Body Mass Index     0.279982
7                Education    -0.210174
8                 Children     0.348424
9                     Pets    -0.277219
10                   Month     0.158977

In [118]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

              Feature name  Coefficient
0                Intercept    -1.646990
1            Reason_type_1     2.800006
2            Reason_type_2     0.951748
3            Reason_type_3     3.114061
4            Reason_type_4     0.838359
5   Transportation Expense     0.605137
6                      Age    -0.169906
7          Body Mass Index     0.279982
8                Education    -0.210174
9                 Children     0.348424
10                    Pets    -0.277219
11                   Month     0.158977

In [119]:
##Interpreting Coefficients

summary_table['Odds Ratio'] = np.exp(summary_table.Coefficient)
summary_table

              Feature name  Coefficient  Odds Ratio
0                Intercept    -1.646990    0.192629
1            Reason_type_1     2.800006   16.444753
2            Reason_type_2     0.951748    2.590233
3            Reason_type_3     3.114061   22.512270
4            Reason_type_4     0.838359    2.312570
5   Transportation Expense     0.605137    1.831503
6                      Age    -0.169906    0.843744
7          Body Mass Index     0.279982    1.323106
8                Education    -0.210174    0.810443
9                 Children     0.348424    1.416833
10                    Pets    -0.277219    0.757888
11                   Month     0.158977    1.172311

In [120]:
summary_table.sort_values('Odds Ratio', ascending=False)

              Feature name  Coefficient  Odds Ratio
3            Reason_type_3     3.114061   22.512270
1            Reason_type_1     2.800006   16.444753
2            Reason_type_2     0.951748    2.590233
4            Reason_type_4     0.838359    2.312570
5   Transportation Expense     0.605137    1.831503
9                 Children     0.348424    1.416833
7          Body Mass Index     0.279982    1.323106
11                   Month     0.158977    1.172311
6                      Age    -0.169906    0.843744
8                Education    -0.210174    0.810443
10                    Pets    -0.277219    0.757888
0                Intercept    -1.646990    0.192629

In [121]:
##Testing the model

reg.score(x_test, y_test)

0.75

In [122]:
predicted_proba = reg.predict_proba(x_test)
predicted_proba

array([[0.71342516, 0.28657484],
       [0.5873216 , 0.4126784 ],
       [0.44016153, 0.55983847],
       [0.78163061, 0.21836939],
       [0.08407928, 0.91592072],
       [0.3348226 , 0.6651774 ],
       [0.29971206, 0.70028794],
       [0.13112385, 0.86887615],
       [0.78627908, 0.21372092],
       [0.74906578, 0.25093422],
       [0.49395555, 0.50604445],
       [0.22492002, 0.77507998],
       [0.07135527, 0.92864473],
       [0.73173354, 0.26826646],
       [0.30957854, 0.69042146],
       [0.54726422, 0.45273578],
       [0.55051921, 0.44948079],
       [0.53926379, 0.46073621],
       [0.40197149, 0.59802851],
       [0.05365482, 0.94634518],
       [0.70030387, 0.29969613],
       [0.78163061, 0.21836939],
       [0.42028246, 0.57971754],
       [0.42028246, 0.57971754],
       [0.24801464, 0.75198536],
       [0.74567806, 0.25432194],
       [0.51026557, 0.48973443],
       [0.8569309 , 0.1430691 ],
       [0.20365204, 0.79634796],
       [0.78163061, 0.21836939],
       [0.63052323, 0.36947677],
       [0.32086805, 0.67913195],
       [0.31491675, 0.68508325],
       [0.47129209, 0.52870791],
       [0.78163061, 0.21836939],
       [0.46494772, 0.53505228],
       [0.77855256, 0.22144744],
       [0.26326831, 0.73673169],
       [0.59499242, 0.40500758],
       [0.39495703, 0.60504297],
       [0.78927881, 0.21072119],
       [0.54772892, 0.45227108],
       [0.76250674, 0.23749326],
       [0.60152822, 0.39847178],
       [0.17236423, 0.82763577],
       [0.43228078, 0.56771922],
       [0.30879153, 0.69120847],
       [0.71342516, 0.28657484],
       [0.7807653 , 0.2192347 ],
       [0.7967288 , 0.2032712 ],
       [0.42365518, 0.57634482],
       [0.67045762, 0.32954238],
       [0.3348226 , 0.6651774 ],
       [0.73062472, 0.26937528],
       [0.16676318, 0.83323682],
       [0.56515855, 0.43484145],
       [0.11634129, 0.88365871],
       [0.76874913, 0.23125087],
       [0.66566251, 0.33433749],
       [0.65548603, 0.34451397],
       [0.30084899, 0.69915101],
       [0.3450062 , 0.6549938 ],
       [0.70755417, 0.29244583],
       [0.20813948, 0.79186052],
       [0.79247768, 0.20752232],
       [0.73161991, 0.26838009],
       [0.91289589, 0.08710411],
       [0.77855256, 0.22144744],
       [0.26784781, 0.73215219],
       [0.69463474, 0.30536526],
       [0.77855256, 0.22144744],
       [0.7099211 , 0.2900789 ],
       [0.09556159, 0.90443841],
       [0.53934229, 0.46065771],
       [0.39824649, 0.60175351],
       [0.78163061, 0.21836939],
       [0.22662722, 0.77337278],
       [0.26823402, 0.73176598],
       [0.25833667, 0.74166333],
       [0.32849848, 0.67150152],
       [0.75418947, 0.24581053],
       [0.92381866, 0.07618134],
       [0.76874913, 0.23125087],
       [0.24733029, 0.75266971],
       [0.56565144, 0.43434856],
       [0.87778155, 0.12221845],
       [0.29566831, 0.70433169],
       [0.42028246, 0.57971754],
       [0.75875643, 0.24124357],
       [0.32086805, 0.67913195],
       [0.82487741, 0.17512259],
       [0.84951629, 0.15048371],
       [0.77378438, 0.22621562],
       [0.73161991, 0.26838009],
       [0.74906578, 0.25093422],
       [0.14943734, 0.85056266],
       [0.70405613, 0.29594387],
       [0.23705541, 0.76294459],
       [0.75656954, 0.24343046],
       [0.78200879, 0.21799121],
       [0.37670539, 0.62329461],
       [0.32086805, 0.67913195],
       [0.304135  , 0.695865  ],
       [0.2553639 , 0.7446361 ],
       [0.55059739, 0.44940261],
       [0.51672278, 0.48327722],
       [0.72261444, 0.27738556],
       [0.14943734, 0.85056266],
       [0.22198621, 0.77801379],
       [0.85522723, 0.14477277],
       [0.92996672, 0.07003328],
       [0.09636737, 0.90363263],
       [0.33765461, 0.66234539],
       [0.66164438, 0.33835562],
       [0.47625539, 0.52374461],
       [0.43906333, 0.56093667],
       [0.21393162, 0.78606838],
       [0.17775756, 0.82224244],
       [0.45798963, 0.54201037],
       [0.69069185, 0.30930815],
       [0.74043803, 0.25956197],
       [0.83941218, 0.16058782],
       [0.1878305 , 0.8121695 ],
       [0.54772892, 0.45227108],
       [0.78163061, 0.21836939],
       [0.64449547, 0.35550453],
       [0.78927881, 0.21072119],
       [0.89031167, 0.10968833],
       [0.25930781, 0.74069219],
       [0.70030387, 0.29969613],
       [0.38416378, 0.61583622],
       [0.78927881, 0.21072119],
       [0.70405613, 0.29594387],
       [0.64449547, 0.35550453],
       [0.73491482, 0.26508518],
       [0.47625539, 0.52374461],
       [0.53926379, 0.46073621],
       [0.6849227 , 0.3150773 ],
       [0.75656954, 0.24343046],
       [0.53934229, 0.46065771]])

In [123]:
predicted_proba[:,1]

array([0.28657484, 0.4126784 , 0.55983847, 0.21836939, 0.91592072,
       0.6651774 , 0.70028794, 0.86887615, 0.21372092, 0.25093422,
       0.50604445, 0.77507998, 0.92864473, 0.26826646, 0.69042146,
       0.45273578, 0.44948079, 0.46073621, 0.59802851, 0.94634518,
       0.29969613, 0.21836939, 0.57971754, 0.57971754, 0.75198536,
       0.25432194, 0.48973443, 0.1430691 , 0.79634796, 0.21836939,
       0.36947677, 0.67913195, 0.68508325, 0.52870791, 0.21836939,
       0.53505228, 0.22144744, 0.73673169, 0.40500758, 0.60504297,
       0.21072119, 0.45227108, 0.23749326, 0.39847178, 0.82763577,
       0.56771922, 0.69120847, 0.28657484, 0.2192347 , 0.2032712 ,
       0.57634482, 0.32954238, 0.6651774 , 0.26937528, 0.83323682,
       0.43484145, 0.88365871, 0.23125087, 0.33433749, 0.34451397,
       0.69915101, 0.6549938 , 0.29244583, 0.79186052, 0.20752232,
       0.26838009, 0.08710411, 0.22144744, 0.73215219, 0.30536526,
       0.22144744, 0.2900789 , 0.90443841, 0.46065771, 0.60175351,
       0.21836939, 0.77337278, 0.73176598, 0.74166333, 0.67150152,
       0.24581053, 0.07618134, 0.23125087, 0.75266971, 0.43434856,
       0.12221845, 0.70433169, 0.57971754, 0.24124357, 0.67913195,
       0.17512259, 0.15048371, 0.22621562, 0.26838009, 0.25093422,
       0.85056266, 0.29594387, 0.76294459, 0.24343046, 0.21799121,
       0.62329461, 0.67913195, 0.695865  , 0.7446361 , 0.44940261,
       0.48327722, 0.27738556, 0.85056266, 0.77801379, 0.14477277,
       0.07003328, 0.90363263, 0.66234539, 0.33835562, 0.52374461,
       0.56093667, 0.78606838, 0.82224244, 0.54201037, 0.30930815,
       0.25956197, 0.16058782, 0.8121695 , 0.45227108, 0.21836939,
       0.35550453, 0.21072119, 0.10968833, 0.74069219, 0.29969613,
       0.61583622, 0.21072119, 0.29594387, 0.35550453, 0.26508518,
       0.52374461, 0.46073621, 0.3150773 , 0.24343046, 0.46065771])

In [124]:
import pickle

# Save model
with open('C:/Users/Administrator/model.pkl', 'wb') as file:
    pickle.dump(reg, file)

# Save scaler
with open('C:/Users/Administrator/scaler.pkl', 'wb') as file:
    pickle.dump(absenteeism_scaler, file)